<div class="jumbotron center">
  <h1>Welcome to Belluga!</h1>
  <p>Learn Engish at a Cafe with a Native Speaker!</p>
  <% if user_signed_in? %>
      <p>Our service is being developed now!</p>
  <% else %>
       <p>
          <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
       </p>
  <% end %>  
</div>


